<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="Samsung">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="9"/>
        <parameter name="deviceUDID" value="ce10171ab374340704"/>
        <parameter name="deviceName" value="Samsung Galaxy S8+"/>
        <parameter name="systemPort" value="10000"/>
        <parameter name="chromeDriverPort" value="11000"/>
        <classes><class name="com.qa.runners.SamsungGalaxyTestNGTest">
        </class>
        </classes>
    </test>

  <!--  <test verbose="2" preserve-order="true" name="Lenovo">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="deviceUDID" value="HA1QCLSZ"/>
        <parameter name="deviceName" value="Lenovo TB-8506X"/>
        <parameter name="systemPort" value="10005"/>
        <parameter name="chromeDriverPort" value="11005"/>
        <classes><class name="com.qa.runners.OppoTestNGTest">
        </class>
        </classes>
    </test>-->
</suite>

